@import "../_slp-colors";

 .page-footer {
   .icon-container {
     img {
       height: 1.75rem;
       width: 1.5rem;
       padding-bottom: 3px;
     }
   }
 }

 footer {
   .page-footer {
     padding-top: 5px;
   }

   .footer-copyright {
      background-color: $primary-color-dark !important;
   }

   .row {
     margin-bottom: 0;
   }
 }