#slp-main {
  overflow-x: hidden;
}

.parallax-container {
    margin-bottom: 5rem;

  .parallax {
    .container {
      position: relative;
      padding-top: 10%;

      .page-title {
        font-weight: 500;
      }
    }
  }
}