$charcoal: #36454f;

$primary-color: #feedea;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: #d2b1ab;
$primary-color-dark-2: darken($primary-color-dark, 10%);
$primary-accent-color: #a3a3a3;

$secondary-color: #ffdc9f;
$secondary-color-light: lighten($secondary-color, 20%);
$secondary-color-dark: darken($secondary-color, 15%);
$secondary-accent-color: $charcoal;

$input-error-color: red;

$header-font-1: 'Playfair Display SC', serif;
$header-font-2: 'Parisienne', serif;
$body-font: 'Cormorant Garamond', serif;