@import "./materalize/media-queries";
@import "./materalize/variables";
@import './materalize/typography';
@import "./materalize/global";
@import "./materalize/buttons";
@import "./materalize/grid";

img {
  width: 100%;
  height: 100%;
}

h4 {
  margin-bottom: 1rem;
}

.message {
  font-size: 1.5rem;
}