#instagram-icon {
  background-image: url("../../resources/instagram.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2.25rem;
  width: 1.5em;
}

footer {
  .page-footer {
    padding-top: 5px;
  }

  .row {
    margin-bottom: 0px;
  }
}