@import 'materialize.config';

nav {
  background-color: white;

  .nav-wrapper {
    button {
      i {
        height: inherit;
        line-height: inherit;
      }
    }

    .nav-content {
      height: inherit;

      .container {
        height: inherit;

        img {
          height: inherit;
          position: relative;
        }
      }
    }
  }
}