@import 'materialize.config';

.menu-icon {
  color: $primary-color;
  cursor: pointer;
}

nav {
  background-color: white;

  .nav-wrapper {
    button {
      i {
        height: inherit;
        line-height: inherit;
      }
    }

    a, i {
      color: $primary-color-dark;
    }
  }

  .nav-content {
    height: inherit;

    .container {
      height: inherit;

      img {
        height: inherit;
        position: relative;
      }
    }
  }

}