@import 'materialize.config';
@import 'slp-colors';
@import './components/booking-form';
@import './components/investment-card';

.card-content {
  .card-title-row {
    display: flex;
    flex-direction: row;

    .card-title {
      flex: 1;
    }
  }

  .text-small {
    font-size: 13px;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;

    li {
      margin-left: 1.5rem;
      color: $primary-accent-color;

      strong {
        font-weight: 600;
      }

      &::before {
        content: "camera_alt";
        font-family: "Material Icons";
        color: $secondary-color;
        position: relative;
        top: .3rem;
        margin-right: .3rem;
      }
    }
  }

  div.row.card-list-header {
    display: flex;
    margin: 0;

    h6 + span {
      flex: 1;
      height: 3px;
      border-radius: 2px;
      background-color: $primary-color;
      margin-top: 1.4rem;
      margin-left: 1rem;
    }
  }

  .card-notification {
    margin: 0 60px 0.7rem 0;
    position: relative;
    padding: 5px;
    font-size: 1rem;
    z-index: 1;
    background-color: $secondary-color-dark;
    border-radius: 5px;
    max-height: 2.4rem;
  }

  .card-subtitle {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 2px;
  }

  .btn-floating.halfway-fab {
    top: 1.2rem;
    bottom: unset;
  }
}

@import '~materialize-css/sass/components/_variables';

.price-modal {
  width: 70%;
  max-height: 80%;

  @media #{$medium-and-down} {
    width: 80%;
    max-height: 100%;
  }
  @media #{$small-and-down}{
    width: 100%;
    top: 0 !important;
    height: 100%;
  }
}

.modal {
  .modal-header {
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 0;

    .btn, .btn-flat {
      margin-top: 0.5rem;
      margin-right: 1rem;
    }
  }

  .modal-content {
    .btn {
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
  }
}