@import 'materialize.config';

// Price table
th {
  text-transform: uppercase;
  color: map-get($grey, "lighten-1");
}

td {
  &:first-child {
    text-transform: uppercase;
  }
}

td, th {
  &:first-child {
    text-align: right;
    border-right: solid $primary-color 4px;
    padding-right: 20px;

    & + td, & + th {
      padding-left: 20px;
    }
  }
}

tr {
  border-bottom: none!important;
}

table {
  margin-top: 5vh;
}

// Price Cards

.card-image {
  .card-title {
    font-size: 24px;
    font-weight: 500;
  }
}

.card-content {
  .card-subtitle {
    font-size: 18px;
    font-weight: 300;
  }
}