.sidenav {
  position: fixed;
  width: $sidenav-width;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  //height: calc(100% + 60px);
  //height: -moz-calc(100%); //Temporary Firefox Fix
  padding-bottom: 60px;
  background-color: $sidenav-bg-color;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateX(-105%);
  display: flex;
  flex-direction: column;

  @extend .z-depth-1;

  li {
    &.active, &:focus {
      background-color: rgba(0, 0, 0, .1);
    }

    &:hover {
      background-color: rgba(0, 0, 0, .05);
    }

    & > a {
      color: $sidenav-font-color;
      width: 100%;

      &.btn-flat {
        margin: 0;
        padding: 0 ($sidenav-padding * 2);
        line-height: $sidenav-line-height;
        height: $sidenav-line-height;

        &.active, &:hover, &:focus {
          background-color: transparent !important;
        }
      }
    }
  }

  .logo {
    &:hover {
      background-color: transparent;
    }

    div {
      position: relative;
      padding: ($sidenav-padding * 2) ($sidenav-padding * 2) 0;
      margin-bottom: $sidenav-padding / 2;

      img {
        width: 100%;
      }
    }
  }
}

// Fixed Sidenav hide on smaller
@media #{$medium-and-down} {
  .sidenav {
    > a {
      padding: 0 $sidenav-padding;
    }

    .user-view {
      padding: $sidenav-padding $sidenav-padding 0;
    }
  }
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}